body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .contact-container {
    text-align: center;
    padding: 50px 20px;
  }
  
  .contact-container h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .contact-container p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-info {
    background: rgb(0,0,54);
    color: white;
    padding: 30px;
    border-radius: 10px;
    flex: 1;
    margin: 10px;
    min-width: 250px;
  }
  
  .contact-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-info ul {
    list-style: none;
    padding: 0;
  }
  
  .contact-info ul li {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .contact-info ul li i {
    margin-right: 10px;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
  }
  
  .contact-form {
    flex: 2;
    background: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
    min-width: 250px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group > div {
    flex: 1;
    margin: 0 10px;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    resize: none;
    height: 100px;
  }
  
  .radio-group label {
    display: inline-block;
    margin-right: 10px;
  }
  
  button {
    background: rgb(0,0,54);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s ease;
  }
  
  button:hover {
    background: #81b4ee;
  }
  
@media(max-width: 716px){

}