.news-cards{
    display: flex;
    flex-basis: 1px;
    flex-wrap: wrap;
    min-width:100%;
    gap:4%;
    justify-content: center;
    align-items: center;
}

.search-bar{
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 5%;
}
.search::after{
    transform: translateY(-5%);
    border: none;
}
.search{
    width: 55%;
    transition: 0.5 ease;
    flex-direction: row;
    display: flex;
    align-items: center;
    color: aliceblue;
}
.search-bar input{
    background-color: rgb(202, 202, 202);
    border-radius: 20px;
    width: 90%;
    color:rgb(0, 0, 54);
    text-align: center;
    font-size: 20px;
    transition: 0.5s ease;
    border: transparent;
}
.icon{
    color: rgb(0, 0, 54);
}
.search-bar input:hover{
    width:95%;
}
.search-bar input:active{
    background-color: rgb(0, 0, 54);
}

.sort-by-section{
    display: flex;
    gap: 3%;
    justify-content: center;
    align-items: center;
    width:40%;
}
.sort-by select{
    height: 30px;
    width: 120px;
    background-color: rgb(252, 251, 255);
}


@media screen and (max-width: 500px){
    .search-bar{
        flex-direction: column;
    }
    .search{
        width: 100%;
        margin-bottom: 20px;
    }
    .sort-by-section{
        width: 100%;
    }
    .sort-by select{
        width: 100%;
    }
    
}

.icon{
    color: '#888';
    padding: 10px;
  }

