.news-cards{
    display: flex;
    flex-basis: 1px;
    flex-wrap: wrap;
    min-width:100%;
    gap:4%;
    justify-content: center;
    align-items: center;
}

.search-bar{
    background-color: rgba(224, 224, 224, 0.123);
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.search::after{
    transform: translateY(-5%);
    border: none;
}
.search{
    width: 60%;
    transition: 0.5 ease;
}
.search-bar input{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sort-by-section{
    display: flex;
    gap: 3%;
    justify-content: center;
    align-items: center;
    width:40%
}
.sort-by select{
    height: 30px;
    width: 120px;
}