*,body{
  font-family: "IBM Plex Sans";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
  color: rgb(77, 77, 77);
}

.landing {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

.parallax1 {
  display: flex;
  background-image: url("./assets/paralaxbg.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  color: rgb(0, 0, 54);
  text-transform: uppercase;
  background: linear-gradient(rgba(255, 255, 255, 0.250), rgba(255, 255, 255, 0.500), rgba(255, 255, 255, 0.750), white);
}

.intro h1 {
  padding: 0;
  margin: 0;
  min-width: 100%;
  letter-spacing: 2px;
  font-weight: 1000;
  font-size: 120px;
  color: rgb(0, 0, 54);
  text-align: center;
}

.intro h3 {
  font-weight: 700;
  color: rgb(0, 0, 54);
}

.section1 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head h1 {
  font-size: 50px;
}

.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-left: 2%;
  padding-right: 2%;
  background: white;
  color: rgb(77, 77, 77);
  text-align: center;
  letter-spacing: 1px;
}

.text {
  padding-top: 2%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 2%;
  font-size: 20px;
  text-align: center;
  width: 55%;
  min-width: 700px;
}

.dr_samal_img {
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dr_samal_img img {
  background-color: rgb(0, 0, 54);
  border-radius: 50%;
  width: 400px;
  height: auto;
  transition: 0.5s ease;
}

.dr_samal_img img:hover {
  background-color: #81b4ee;
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgb(0, 0, 54);
}

.section2 {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.display {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 1;
  gap: 1rem 2%;
  padding-top: 5%;
  padding-bottom: 5%;
}


.research-odd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0;
  background-color: #cae8ff;
  width: 550px;
  min-width: 550px;
  height: 350px;
  border-radius: 50px;
  transition: 0.5s ease;
}

.research-even:hover,
.research-odd:hover {
  box-shadow: 0 8px 10px rgba(129, 180, 238, 0.75);
}

.number,
.desc {
  color: rgb(0, 0, 54);
}

.number {
  width: 100%;
  text-align: center;

}

.research-even {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
  margin-right: 3%;
  padding: 3% 1rem;
  background-color: #cae8ff;
  width: 350px;
  min-width: 350px;
  height: 350px;
  border-radius: 50px;
  transition: 0.5s ease;
}

.number {
  font-size: 120px;
  font-weight: 600;
  padding: 1%
}

.desc {
  font-size: 25px;
  font-weight: 200;
}

.top-research {
  text-align: center;
  font-size: 20px;
  padding-left: 2%;
  padding-right: 2%;
}

.top-research h1 {
  margin-bottom: 20px;
}

.research-index {
  display: flex;
  gap: 15px;

}

.research-index h1 {
  font-size: 25px;
}

.section3 {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 1;
}

.text-align-center {
  text-align: center;
}
.timeline{
  height:100%;
}
.intro {
  width: 50%;
  min-width: 650px;
}

@media(max-width:1262px) {
  .text-align-center {
    text-align: center;
  }

  .intro {
    width: 70%;
    min-width: 350px;
  }
}

@media(max-width: 1145px) {
  .about {
    padding: 0;
  }

  .text {
    width: 90%;
    text-align: center;
    min-width: 0px;
  }
}

@media(max-width:800px) {
  .display {
    width: 100%
  }
  .research-even {
    min-width: 350px;
    width: 350px;
  }
  .research-odd {
    min-width: 350px;
    width: 350px;
  }
  .intro h1 {
    font-size: 100px;
  }
}

@media(max-width:580px) {
  .intro h1 {
    font-size: 75px;
    text-align: center;
  }
  .about {
    padding: 0;
  }
  .text {
    width: 90%;
    text-align: center;
  }
  .desc {
    font-size: 20px;
    font-weight: 200;
  }
  .top-research p {
    font-size: 20px;
  }
}

@media(max-width:475px) {
  .about {
    padding: 0;
  }

  .text {
    width: 90%;
  }

  .intro h1 {
    font-size: 70px;
  }

  .intro h3 {
    font-size: 15px;
  }
}

@media(max-width:400px) {
  .dr_samal_img img {
    width: 300px;
    height: auto;
  }
}

@media(max-width:385px) {
  .intro h1 {
    font-size: 70px;
  }
  .intro h3 {
    font-size: 13px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}