*{
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  scroll-behavior: smooth;
  color: rgb(77, 77, 77);
}
.landing {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

.parallax1 {
  display: flex;
  background-image: url("./assets/paralaxbg.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
}
.filter{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100%;
  min-height:100%;
  color:rgb(0, 0, 54);
  text-transform: uppercase;
  background: linear-gradient(rgba(255,255,255,0.250),rgba(255,255,255, 0.500), rgba(255,255,255, 0.750),white);
}
.intro h1{
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 120px;
  color:rgb(0, 0, 54);
}
.intro h3{
  font-weight: 700;
  color:rgb(0, 0, 54);
}
.section1{
  margin-top:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head h1{
  font-size: 50px;
}
.about{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height:auto;
  padding-left: 2%;
  padding-right:2%;
  background: white;
  color: rgb(77, 77, 77);
  text-align: center;
}
.text{
  padding-top: 2%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 2%;
  font-size: 25px;
  text-align: left;
  width:55%;
  min-width:700px;
}
.dr_samal_img{
  padding:2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dr_samal_img img{
  background-color: rgb(0,0,54);
  border-radius: 50%;
  width:400px;
  height: auto;
  transition: 0.5s ease;
}
.dr_samal_img img:hover{
  background-color: #81b4ee;
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgb(0,0,54);
}
.section2{
  width : 100%;
  background: linear-gradient(#f1f9ff,white);
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.display{
  width : 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-basis:1;
  gap: 1rem 2%;
  padding-top: 5%;
  padding-bottom: 5%;
}


.research-odd{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left:3%;
  margin-right:3%;
  padding: 0;
  background-color: #81b4ee;
  width: 550px;
  min-width:550px;
  height:350px;
  border-radius:50px; 
}
.number , .desc{
  color:rgb(0,0,54);
}
.number{
  width:100%;
  text-align: center;

}

.research-even{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left:3%;
  margin-right:3%;
  padding: 3% 1rem;
  background-color: #81b4ee;
  width: 350px;
  min-width:350px;
  height:350px;
  border-radius:50px; 
}
.number{
  font-size: 120px;
  font-weight: 600;
  padding:1%
}
.desc{
  font-size: 30px;
  font-weight: 200;
}

.section3{
  padding-left:20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 1;
}
.text-align-center{
  text-align: start;
}
.intro{
  width: 50%;
  min-width:650px;
}
@media(max-width:1262px){
  .text-align-center{
    text-align: center;
  }
  .intro{
    width: 70%;
    min-width:350px;
  }
}
@media(max-width: 1145px){
  .about{
    padding: 0;
  }
  .text{
    width:90%;
    text-align: center;
    min-width: 0px;
  }
}
@media(max-width:800px){
  .display{
    width:100%
  }
  .research-even{
    min-width: 350px;
    width:350px;
  }
  .research-odd{
    min-width: 350px;
    width:350px;
  }
}
@media(max-width:580px){
  .intro h1{
    font-size: 100px;
  }
  .about{
    padding: 0;
  }
  .text{
    width:90%;
    text-align: center;
  }
}
@media(max-width:475px){
  .about{
    padding: 0;
  }
  .text{
    width:90%;
  }
  .intro h1{
    font-size: 80px;
  }
  .intro h3{
    font-size: 15px;
  }
}
@media(max-width:400px){
  .dr_samal_img img{
    width:300px;
    height: auto;
  }
}
@media(max-width:385px){
  .intro h1{
    font-size: 70px;
  }
  .intro h3{
    font-size: 13px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}